.navigation
	width: 240px
	height: 100%
	background-color: #1d4e69;
	position: fixed
	left: 0
	top: 0
	z-index: 2

	&__logo
		background-color: #C12127
		padding-left: 30px
		padding-top: 6px
		a
			text-decoration: none
		&-panel
			color: white
			font-weight: bold
			margin-left: 60px
			text-decoration: none
			margin-top: -10px
			padding-bottom: 7px
			span
				background-color: #CB3837
				padding-right: 11px
