.navigation
	width: 240px
	height: 100%
	background-color: #1d4e69;
	position: fixed
	left: 0
	top: 0
	z-index: 2

	&__logo
		background-color: #C12127
		padding-left: 30px
		padding-top: 6px
		a
			text-decoration: none
		&-panel
			color: white
			font-weight: bold
			margin-left: 52px
			text-decoration: none
			margin-top: -10px
			padding-bottom: 7px
			span
				background-color: #CB3837
				padding-right: 4px

	&__list
		width 100%
		a
			text-decoration none
			display block
			.navigation__link-container
				display flex
				align-items center
				padding 0
				font-weight bold
				width calc(100% - 20px)
				height 40px
				color #fafafa
				margin auto 10px
			.navigation__link-icon
				margin-bottom 3px
			.navigation__link-text
				margin-left 10px 
			&.active
				background-color rgba(0,0,0,.2)
